{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css"  href="{% static "css/signin.css" %}">
 {% endblock %}

{% block content %}
    <div id="class="container"">
        <form class="form-signin" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" class="form-control" name="username"  placeholder="Username" required autofocus>
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" > 
            </div>
        </div>
 
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}